{% extends "Layout.html" %}
{% block title %}班級資訊{% endblock %}
{% block content %}
    <div class="content">
      <p class="title"><b> 班級資訊 </b><p>
      <div class="searchGroup">
          <form action="{% url 'classInfo' %}" method="get">
              <input type="text" name="name" id="txtSearch" placeholder="請輸入班級名稱">
              <input type="submit" value="搜尋">
          </form>
          <script>
                  $(document).ready(function(){
                          $("#txtSearch").autocomplete({
                              source: function (request, response){
                                  $.ajax({
                                      url: "{% url 'searchClass' %}",
                                      type: "GET",
                                      dataType: "json",
                                      data: {
                                          "term": request.term      //回傳的參數
                                      },
                                      success: function (data){
                                    	  response(data);
                                      },
                                  });
                              }
                            });
                  });
          </script>
      </div>
      <p align="right"><a href="{% url 'createClass' %}"><input type="button" value="新增"></a></p>
      <table border="1" style="border-width: 1px; border-collapse: collapse; text-align: center">
          <thead>
              <tr>
                <th>ID</th>
                <th>入學年分</th>
                <th>班級</th>
                <th>名稱</th>
                <th>導師</th>
                <th>功能</th>
              </tr>
          </thead>
          <tbody>
              {% for class in classList %}
              <tr>
                  <td>{{ class.0 }}</td>
                  <td>{{ class.1 }}</td>
                  <td>{{ class.2 }}</td>
                  <td>{{ class.3 }}</td>
                  {% if class.4 == None %}
                    <td></td>
                  {% else %}
                    <td>{{ class.4 }}</td>
                  {% endif %}
                  <td>
                      <form action="{% url 'editClass' classID=class.0 %}" method="get">
                          <input type="submit" value="編輯">
                          <input type="hidden" name="teacher" value={{ class.4 }}>
                      </form>
                      <form action="{% url 'deleteClass' classID=class.0 %}" method="get">
                          <input type="submit" value="刪除">
                          <input type="hidden" name="teacher" value={{ class.4 }}>
                      </form>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <p><button onclick="history.back()">返回</button></p>
    </div>
{% endblock %}