{% extends "Layout.html" %}
{% block title %}班級成績與排名{% endblock %}
{% block content %}
    <div class="content">
      <p class="title"><b> 班級成績與排名 </b><p>
      <div class="conditionGroup">
          <form action="{% url 'classGrade' %}" method="get">
            <span>入學年分</span>
            <select name = "enrolledYear">
	            {% for year in yearList %}
	                <option value={{ year }}>{{ year }}</option>
	            {% endfor %}
            </select>
            <span>學期</span>
            <select name = "semester">
                {% for semester in semesterList %}
                    <option value={{ semester }}>{{ semester.name }}</option>
                {% endfor %}
            </select>
            <span>考試</span>
            <select name = "exam">
                {% for exam in examList %}
                    <option value={{ exam.name }}>{{ exam.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="搜尋">
          </form>
      </div>
      <table border="1" style="border-width: 1px; border-collapse: collapse; text-align: center">
          <thead>
              <tr>
                <th>排名</th>
                <th>班級</th>
                <th>國文平均</th>
                <th>英文平均</th>
                <th>數學平均</th>
                <th>總平均</th>
              </tr>
          </thead>
          </tbody>
              {% for classGrade in classGradeList %}
              <tr>
                  <td>{{ classGrade.0 }}</td>
                  <td>{{ classGrade.1 }}</td>
                  {% if classGrade.2.avg != None %}
                  <td>{{ classGrade.2.avg | floatformat:2 }}</td>
                  {% else %}
                  <td style="color:red;">0.00</td>
                  {% endif %}
                  {% if classGrade.3.avg != None %}
                  <td>{{ classGrade.3.avg | floatformat:2 }}</td>
                  {% else %}
                  <td style="color:red;">0.00</td>
                  {% endif %}
                  {% if classGrade.4.avg != None %}
                  <td>{{ classGrade.4.avg | floatformat:2 }}</td>
                  {% else %}
                  <td style="color:red;">0.00</td>
                  {% endif %}
                  <td>{{ classGrade.5 | floatformat:2 }}</td>
              </tr>
              {% endfor %}
              <tr style="font-weight: Bold; border: solid thin;">
                  <td colspan="2">平均</td>
                  {% for avg in averageList %}
                    {% if avg.avg != None %}
                        {% if avg.avg < 60 %}
                           <td style="color:red;"> {{ avg.avg | floatformat:2 }} </td>
                        {% else %}
                           <td> {{ avg.avg | floatformat:2 }} </td>
                        {% endif %}
                    {% else %}
                        <td style="color:red;"> 0.00 </td>
                    {% endif %}
                  {% endfor %}
                  {% if totalAvg < 60 %}
                      <td style="color:red;"> {{ totalAvg | floatformat:2 }} </td>
                  {% else %}
                      <td> {{ totalAvg | floatformat:2 }} </td>
                  {% endif %}
              </tr>
          </tbody>
      </table>
      <p><button onclick="history.back()">返回</button></p>
    </div>
{% endblock %}