{% extends "Layout.html" %}
{% block title %}新增班級{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b>建立班級</b></p>
        <p>
            <form action="{% url 'createClass' %}" method="post">
                <div class="formGroup">
                    <span>入學年分</span>{{ form.enrolledYear }}</br>
                    <span>班級</span>{{ form.number }}</br>
                    <span>名稱</span>{{ form.name }}</br>
                    <span>導師</span>
                    <select name="teacher">
                        <option value="" selected>------------</option>
                        {% for teacher in teacherList %}
                            <option value={{ teacher.id }}>{{ teacher.name }}</option>
                        {% endfor %}
                    </select>
                </div>
        </p>
                <input type="submit" value="建立">
            </form>
            {% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
			        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
			        {{ message }}
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}
        <button onclick="history.back()">返回</button>
    </div>

    <div id="toast"> </div>
    <script> // 重複的抽成function
    $(document).ready(function(){

        $("#id_enrolledYear").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_enrolledYear").val() == "") {
                x.innerHTML = "請輸入入學年分！";
                x.className = "show";
                setTimeout(function(){
                	x.className = x.className.replace("show", "");
                }, 5000);
            }

            if($("#id_enrolledYear").val() < 0) {
                x.innerHTML = "入學年分不得為負數！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        $("#id_number").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_number").val() == "") {
                x.innerHTML = "請輸入班級！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }

            if($("#id_number").val() < 0) {
                x.innerHTML = "班級不得為負數！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        $("#id_name").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_name").val() == "") {
                x.innerHTML = "請輸入名稱！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        });

    </script>
{% endblock %}