{% extends "Layout.html" %}
{% block title %}建立學期{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b>建立學期</b></p>
        <p>
            <form action="{% url 'createSemester' %}" method="post">
                <div class="formGroup">
	                <span>名稱</span><input type="text" name="name" id="name"></br>
	                <span>當前學期</span>
	                <select name="isCurrent">
	                    <option value=True>是</option>
	                    <option value=False>否</option>
	                </select>
	                <input type="hidden" name="originalID" value={{ originalID }}></br>
                </div>
        </p>
                <input type="submit" value="建立">
            </form>
        <button onclick="history.back()">返回</button>
    </div>

    <div id="toast"> </div>
    <script>
    $(document).ready(function(){

        $("#name").blur(function() {
            var x = document.getElementById("toast");

            if($("#name").val() == "") {
                x.innerHTML = "請輸入學期名稱！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        });

    </script>
{% endblock %}