{% extends "Layout.html" %}
{% block title %}新增考試{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b>建立考試</b></p>
        <p>
            <form action="{% url 'createTest' subject=subject %}" method="post">
                <div class="formGroup">
                    <span>考試名稱</span>{{ form.name }}</br>
                    <span>配分佔比</span>{{ form.percentage }}</br>
                    <span>類型</span>{{ form.type }}</br>
                </div>
        </p>
                    <input type="submit" value="建立">
            </form>
        <button onclick="history.back()">返回</button>
    </div>

    <div id="toast"> </div>
    <script>
    $(document).ready(function(){

        $("#id_percentage").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_percentage").val() == "") {
                x.innerHTML = "請輸入配分占比！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }

            if($("#id_percentage").val() > 100 || $("#id_percentage").val() < 0) {
                x.innerHTML = "配分占比需介於 0~100 之間！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        $("#id_name").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_name").val() == "") {
                x.innerHTML = "請輸入考試名稱！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        });

    </script>
{% endblock %}