{% extends "Layout.html" %}
{% block title %}刪除老師{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b> 刪除老師 </b><p>
        <p>
            <form action="{% url 'deleteTeacher' teacherID=teacher.id%}" method="post">
	            <div class="formGroup" style="width:30%">
                    <br>ID: {{ teacher.id }}<input type="hidden" name="teacherID" value={{ teacher.id }} readonly></br>
                    <br>使用者名稱： {{ teacher.username }}</br>
                    <br>姓名： {{ teacher.name }}</br>
                    <br>手機號碼： {{ teacher.phoneNumber }}</br>
                    <br>班級： {{ teacher.clazz }}</br>
                    <p></p>
                </div>
        </p>
                <p><b class="title">你確定要刪除此位老師嗎？</b></p>
                <input type="submit" value="刪除">
            </form>
        <button onclick="history.back()">返回</button>
    </div>
{% endblock %}