{% extends "Layout.html" %}
{% block title %}刪除班級{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b> 刪除班級 </b><p>
        <p>
            <form action="{% url 'deleteClass' classID=clazz.id %}" method="post">
                <div class="formGroup" style="width:30%">
                    <br>入學年分： {{ clazz.enrolledYear }}</br>
                    <br>班級： {{ clazz.number }}</br>
                    <br>名稱： {{ clazz.name }}</br>
                    {% if teacher %}
                    <br>導師： {{ teacher.0.name }}</br>
                    {% else %}
                    <br>導師： None</br>
                    {% endif %}
                    <p></p>
               </div>
        </p>
               <p><b class="title">你確定要刪除此班級嗎？</b></p>
               <input type="submit" value="刪除">
            </form>
        <button onclick="history.back()">返回</button>
    </div>
{% endblock %}