{% extends "Layout.html" %}
{% block title %}刪除學期{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b>刪除學期</b></p>
        <p>
            <form action="{% url 'deleteSemester' semesterID=semester.id %}" method="post">
                <div class="formGroup" style="width:30%">
                    <br>ID: {{ semester.id }}<input type="hidden" name="semesterID" value={{ semester.id }}></br>
                    <br>學期名稱： {{ semester.name }}</br>
                    <p></p>
                </div>
        </p>

                <p><b class="title">你確定要刪除此學期嗎？</b></p>
                <input type="submit" value="刪除">
            </form>
        <button onclick="history.back()">返回</button>
    </div>
{% endblock %}