{% extends "Layout.html" %}
{% block title %}刪除考試{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b>刪除考試</b></p>
        <p>
            <form action="{% url 'deleteTest' subject=subject testID=test.id %}" method="post">
                <div class="formGroup" style="width:30%">
                    <br>ID: {{ test.id }}</br>
                    <br>考試名稱： {{ test.name }}</br>
                    <br>配分佔比： {{ test.percentage }}  %</br>
                    <br>類型： {{ test.type }}</br>
                    <p></p>
                </div>
        </p>
                <p><b class="title">你確定要刪除此次考試嗎？</b></p>
                <input type="submit" value="刪除">
            </form>
        <button onclick="history.back()">返回</button>
    </div>
{% endblock %}