{% extends "Layout.html" %}
{% block title %}編輯班級{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b>編輯班級</b></p>
        <p>
            <form action="{% url 'editClass' classID=classID %}" method="post">
                <div class="formGroup">
                    <span>ID</span><input type="text" name="classID" value={{ classID }} readonly></br>
                    <span>入學年分</span>{{ form.enrolledYear }}</br>
                    <span>班級</span>{{ form.number }}</br>
                    <span>名稱</span>{{ form.name }}</br>
                    {% if originalTeacher %}
                    <span>導師</span>
                    <select name="teacher">
                        <option value="">------------</option>
                        {% for teacher in teacherList %}
                            {% if teacher.id == originalTeacher.0.id %}
                                <option value={{ originalTeacher.0.id }} selected>{{ originalTeacher.0.name }}</option>
                            {% else %}
                                <option value={{ teacher.id }}>{{ teacher.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% else %}
                    <span>導師</span>
                    <select name="teacher">
                        <option value="">------------</option>
                        {% for teacher in teacherList %}
                            <option value={{ teacher.id }}>{{ teacher.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <p></p>
                </div>
        </p>
                <input type="submit" value="編輯">
            </form>
        <button onclick="history.back()">返回</button>
     </div>

     <div id="toast"> </div>
    <script>
    $(document).ready(function(){

        $("#id_enrolledYear").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_enrolledYear").val() == "") {
                x.innerHTML = "請輸入入學年分！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }

            if($("#id_enrolledYear").val() < 0) {
                x.innerHTML = "入學年分不得為負數！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        $("#id_number").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_number").val() == "") {
                x.innerHTML = "請輸入班級！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }

            if($("#id_number").val() < 0) {
                x.innerHTML = "班級不得為負數！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        $("#id_name").blur(function() {
            var x = document.getElementById("toast");

            if($("#id_name").val() == "") {
                x.innerHTML = "請輸入名稱！";
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
        }
        );

        });

    </script>
{% endblock %}