{% extends "Layout.html" %}
{% block title %}Login{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-xxl static-top">
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'login' %}"><input style="margin:0" type="button" value="Login"></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="content">
        <p class="title"><b>請輸入您的帳號與密碼：</b></p>
        <p>
            <form id="form" name="form" action="{% url 'login' %}" method="post">
	            <div class="formGroup">
	                    <span>User name</span><input type="text" name="accountName" id="accountName" onblur="checkIfAccountEmpty()"></br>
	                    <span>Password</span><input type="password" name="password" id="password" onblur="checkIfPasswordEmpty()"></br>
	            </div>
	    </p>
	            <input type="submit" value="登入" id="submitBtn">
	        </form>
        <button onclick="history.back()">返回</button>
    </div>
    <div id="toast"> </div>
    <script>
    function checkIfAccountEmpty() {
    	var x = document.getElementById("toast");
    	if($("#accountName").val() == "") {
            x.innerHTML = "請輸入帳號！";
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
        }
    }

    function checkIfPasswordEmpty() {
        var x = document.getElementById("toast");
        if($("#password").val() == "") {
            x.innerHTML = "請輸入密碼！";
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
        }
    }
	</script>
{% endblock %}