{% extends "Layout.html" %}
{% block title %}考試資訊{% endblock %}
{% block content %}
    <div class="content">
      <p class="title"><b> 考試資訊 </b><p>
      <p align="right">
        <a href="{% url 'createTest' subject=subject %}"><input type="button" value="新增考試"></a>
        <a href="{% url 'keyGrade' subject=subject %}"><input type="button" value="登記成績"></a>
      </p>
      <table border="1" style="border-width: 1px; border-collapse: collapse; text-align: center">
          <thead>
              <tr>
                <th>考試名稱</th>
                <th>配分佔比</th>
                <th>功能</th>
              </tr>
          </thead>
          </tbody>
              {% for test in testList %}
              <tr>
                  <td>{{ test.name }}</td>
                  <td>{{ test.percentage }}  %</td>
                  <td>
                      <form action="{% url 'editTest' subject=subject testID=test.id %}" method="get">
                          <input type="submit" value="編輯">
                      </form>
                      <form action="{% url 'deleteTest' subject=subject testID=test.id %}" method="get">
                          <input type="submit" value="刪除">
                      </form>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <p><button onclick="history.back()">返回</button></p>
    </div>
{% endblock %}