# PROJECT REQUIREMENTS LIST, PLEASE NOTE THIS FILE IS ALSO USED FOR PYTHON PIP,
# SO ALL NON-PYTHON PACKAGES ARE MARKED AS COMMENTS.

# ============ LIB ============

# ============ Nuwa Developed ============
Iuno
Pandora

# ============ Third Party ============

django>=3.2,<3.3
djangorestframework
drf-yasg
watchdog
